.authorization__field {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 0 0 13px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }
  
  .authorization__field:first-of-type {
    margin-top: 50px;
  }
  
  .authorization__field::placeholder {
    color: #ccc;
  }
  
  @media (max-width: 633px) {
    .authorization__field:first-of-type {
      margin-top: 40px;
    }
  }